.chatContainer {
  max-width: 1100px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2.5fr 1fr;
  gap: 20px;
}

/* Room and users component */
/*
.roomAndUsersColumn {
  border-right: 1px solid #dfdfdf;
} */
.roomTitle {
  /* position: relative;
  left: 1000px;
  top: -300px; */
  margin-bottom: 60px;
  text-transform: uppercase;
  font-size: 2rem;
  color: #fff;
  display: inline;
}
.usersTitle {
  font-size: 1.2rem;
  /* position: relative;
  left: 1000px;
  top: -350px; */
  color: #fff;
}
.usersList {
  list-style-type: none;
  /* position: relative;
  left: 1000px;
  top: -360px; */
  padding-left: 0;
  
  margin-bottom: 100px;
  color: rgb(153, 217, 234);
  height: 80px;
  overflow: auto;
}
.usersList li {
  margin-bottom: 7px;
  display: inline-block;
  padding-right: 10px;
}

/* Messages */
.messagesColumn {
  height: 60vh;
  overflow: auto;
  /*padding: 10px 10px 10px 40px;*/
  /* position: relative;
  left: 400px;
  top: 200px; */
}
.hcontainer{
  display: inline-flex;
  flex-direction: row;
  gap: 40px;
}
.userContainer{
}
.message {
  background: rgb(0, 24, 111);
  border-radius: 6px;
  margin-bottom: 24px;
  max-width: 600px;
  width: 100%;
  padding: 12px;
}
.msgMeta {
  color: rgb(153, 217, 234);
  font-size: 0.75rem;
}
.msgText {
  color: #fff;
}
.movelist{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.leftcol{
  max-width: min-content;
}
.move {
  background-color: rgb(153, 217, 234);
  margin: 5px;
  color: rgb(0, 24, 111);
  padding: 5px;
  min-width: max-content;
  border-radius: 5px;
}
.fenstring{
  color: rgb(0, 24, 111);
  background-color: rgb(153, 217, 234);
  padding: 5px;
  border-radius: 5px;
  margin: 5px;
}
/* Message input and button */
.sendMessageContainer {
  /* position: relative;
  left: 375px;
  top: 200px; */
  /* padding: 16px 20px 20px 16px; */
}
.messageInput {
  padding: 14px;
  margin-bottom: 16px;
  width: 100%;
  border-radius: 6px;
  border: 1px solid rgb(153, 217, 234);
  font-size: 0.9rem;
}


.scrolabil {
  height:50px;
  overflow: auto
}

.example::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.example {
-ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /* Firefox */
}